In [1]:
import numpy as np
import pandas as pd

In [2]:
dfm=pd.read_csv('movies.csv')
dfr=pd.read_csv('movies.csv')

In [3]:
dfm.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [4]:
dfm.shape

(9742, 3)