In [1]:
import pandas as pd

In [3]:
movies = pd.read_clipboard()

In [4]:
movies

,ID,Name,Industry,Genre,Language,Duration,Rating
0,1,Bahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,hindi,180,5.0
2,3,Uri- The Surgical Strike,Bollywood,Action,hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers- end game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,hindi,150,6.0
11,12,Houseful,Bollywood,Comedy,English,120,7.0
12,13,The Dictator,Hollywood,Comedy,English,120,9.0
13,14,Hera Pheri,Bollywood,Comedy,hindi,140,9.0
14,15,Sholey,Bollywood,Drama,hindi,150,8.5

In [21]:
movies = pd.read_csv(r'Movies.csv')

In [18]:
movies

,ID,Name,Industry,Genre,Language,Duration,Rating
0,1,Bahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,hindi,180,5.0
2,3,Uri- The Surgical Strike,Bollywood,Action,hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers- end game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,hindi,150,6.0
11,12,Houseful,Bollywood,Comedy,English,120,7.0
12,13,The Dictator,Hollywood,Comedy,English,120,9.0
13,14,Hera Pheri,Bollywood,Comedy,hindi,140,9.0
14,15,Sholey,Bollywood,Drama,hindi,150,8.5

#### Find the longest movie

In [22]:
movies['Duration'].max()

190

In [24]:
movies['Name'][movies['Duration'].argmax()]

'Intersteller'

#### Number of movies who got 10 rating

In [39]:
sum(movies['Rating']==10)

2

#### How many industries are there

In [42]:
movies['Industry'].value_counts().count()

3

In [43]:
movies['Industry'].nunique()

3

In [45]:
len(movies['Industry'].value_counts())

3

#### Least liked comedy movie

In [67]:
movies['Name'][movies[movies['Genre']=='Comedy']['Rating'].idxmin()]

'Houseful'

#### Longest english movie

In [72]:
movies['Name'][movies[movies['Language']=='English']['Duration'].idxmax()]

'Intersteller'